{% if user.is_authenticated %}
<div style="float:right">
    <div class="login-info">{{ user.username }}</div>
    {% if user.is_staff %}
    <a class="login-info" href="/admin">
        {% include "svg_admin.html" %}
    </a>
    {% endif %}
    <a class="login-info" href="{% url 'user_logout' %}?next={{ current_path }}">
        {% include "svg_logout.html" %}
    </a>
</div>
{% else %}
<div style="float:right">
    <div class="login-info">SIGN IN</div>
    <a class="login-info" href="#" onclick="document.getElementById('login_panel').style.display='block'">
        {% include "svg_login.html" %}
    </a>
</div>
{% endif %}
