<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/monokai.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/help.css' %}" type="text/css">
    <title>
        Samkit
        {% block title %}
        {{ page_title|default:"" }}
        {% endblock title %}
    </title>
    <style>
        {% block style %}
        {% endblock style %}
    </style>
</head>
<body style="background-color:#f1f1f1;">
<div id="login_panel" class="modal" onclick="modalExit(event);">
    <!-- Modal Login Form -->
    <form class="modal-content animate" action="{% url 'user_login' %}?next={{ current_path }}" method="post">
        {% csrf_token %}
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <button class="w3-btn w3-purple" style="width:100%" type="submit">SIGN IN</button>
        </div>
    </form>
</div>
<div id="root">
    <!-- Side Project List -->
    <div id="mySidebar" class="sidebar">
        {% for project in projects %}
        <a href="{% url 'index_project' project.id genus_asset.id %}">{{ project.info }}</a>
        {% endfor %}
        {% if user.is_authenticated %}
        <a href="/admin/main/project/add/">+</a>
        {% endif %}
    </div>
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="#" onclick="toggleNav()">&#9776;</a>
        <a href="{% url 'index' %}">{{ current_project.info }}</a>
        {% if user.is_authenticated %}
        <a href="{% url 'settings' current_project.id %}">
            {% include "svg_settings.html" %}
        </a>
        {% endif %}
        <a href="{% url 'help' %}">
            {% include "svg_doc.html" %}
        </a>
        {% include 'auth.html' %}
    </div>
    <!-- Main Content -->
    <div class="main">
    {% block content %}
    <p>Placeholder text in base template. Replace with page content.</p>
    {% endblock content %}
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
    var scrollpos = localStorage.getItem('scrollpos');
    if (scrollpos) window.scrollTo(0, scrollpos);
});

window.onbeforeunload = function(e) {
    localStorage.setItem('scrollpos', window.scrollY);
};

// When the user clicks anywhere outside of the modal, close it
function modalExit(event) {
    if (event.target.className == 'modal') {
        event.currentTarget.style.display = "none";
    }
}

function toggleNav() {
    var sidebar = document.getElementById("mySidebar");
    var root = document.getElementById("root");
    if (sidebar.style.width == 0 || sidebar.style.width == "0px") {
        sidebar.style.width = "250px";
        root.style.marginLeft = "250px";
    } else {
        sidebar.style.width = "0";
        root.style.marginLeft = "0";
    }
}

{% block script %}
{% endblock script %}
</script>
</body>
</html>