{% extends 'site_base.html' %}

{% block title %}
- Help
{% endblock title %}

{% block style %}

{% endblock style %}

{% block content %}
<div class="content-help">
    <section>
        <nav>
            <ul>
                <li><a href="{% url 'help_episode' current_project.id '01_server_setup' %}">服务器维护</a></li>
                <li><a href="{% url 'help_episode' current_project.id '02_maya_setup' %}">Maya 插件安装与设置</a></li>
                <li><a href="{% url 'help_episode' current_project.id '03_unreal_setup' %}">Unreal 工程设置</a></li>
            </ul>
        </nav>
        <article>
            {{ doc|safe }}
        </article>
    </section>
</div>
{% endblock content %}